<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Kick Asana</title>
    {{!-- Link the stylesheet in href --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
    <header>
        <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
        </nav>
    </header>

    <main>
        {{{ body }}} 
    </main>

    <footer>
        {{!-- add button to logout if logged in --}}
        {{#if logged_in}}
        <button id="logout">Logout</button>
        {{/if}}
    </footer>
</div>

</body>
</html>
