<div>
<div>
    <h2>Welcome back, {{name}}</h2>
</div>

<div>
    <h3>Add Your Favorite Yoga Pose!</h3> 

    <form>
        <div>
            <label for="pose-name">Pose name:</label>
            <input class="" type="text" id="pose-name" name="pose-name"/>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea class="" id="pose-desc" name="pose-desc"></textarea>
        </div>
        <div>
            <label for="pose-level">Pose level:</label>
            {{!-- Add options type? Can't remember how to do that --}}
            <input class="" type="" id="pose-level" name="pose-level"/>
        </div>
        <div>
            <label for="pose-area">Pose area:</label>
            <input class="" type="text" id="pose-area" name="pose-area"/>
        </div>
        <div>
            <label for="pose-type">Pose type:</label>
            <input class="" type="text" id="pose-type" name="pose-type"/>
        </div>
    </form>
</div>

</div>