<div>
<div>
    <h3>Add Your Favorite Yoga Pose!</h3> 

    <form>
        <div>
            <label for="pose-name">Pose name:</label>
            <input class="" type="text" id="pose-name" name="pose-name"/>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea class="" id="pose-desc" name="pose-desc"></textarea>
        </div>
        <div>
            <label for="pose-level">Pose level:</label>
                 <select name="pose-level" id="pose-level">
                    <option value="beginner">Beginner</option>
                    <option value="intermidate">Intermidate</option>
                    <option value="advanced">Advanced</option>
                </select>
        </div>
        <div>
            <label for="pose-area">Pose area:</label>
                <select name="pose-area" id="pose-area">
                    <option value="upper">Upper</option>
                    <option value="lower">Lower</option>
                    <option value="core">Core</option>
                    <option value="full">Full</option>
                    <option value="hips">Hips</option>
                </select>
        </div>
        <div>
            <label for="pose-type">Pose type:</label>
            <select name="pose-type" id="pose-type">
                    <option value="stretching">Stretching</option>
                    <option value="strengthening">strengthening</option>
                    <option value="balancing">Balancing</option>
                    <option value="twisting">Twisting</option>
                    <option value="digestion">Digestion</option>
                    <option value="core">Core Activating</option>
                    <option value="menstruation">Menstruation</option>
                    <option value="seated">Seated</option>
                </select>
            </div>
        </div>
    </form>
</div>

</div>