{{!-- This view will have. Welcome message, search for your fave pose and render it FORM --}}
<div class="card bg-light p-4 my-4 mx-auto shadow" style="width: 50%;">
  <div class="text-center">
    <h2>Welcome home, {{name}}</h2>
  </div>
</div>

<div class="card bg-light p-4 mt-4 mx-auto shadow" style="width: 50%;">
  <h3 class="text-center">Search For a Pose</h3>

  <form class="" id="search-form">
    <div class="form-group">
      {{!-- <label for="pose-level">Pose level:</label> --}}
      <select class="form-control" name="pose-level" id="pose-level">
        <option value=''>Difficulty</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select>
    </div>
    <div class="form-group">
      {{!-- <label for="pose-area">Pose area:</label> --}}
      <select class="form-control" name="pose-area" id="pose-area">
        <option value=''>Body Area</option>
        <option value="upper">Upper</option>
        <option value="lower">Lower</option>
        <option value="core">Core</option>
        <option value="full">Full</option>
      </select>
    </div>
    <div class="form-group">
      {{!-- <label for="pose-type">Pose type:</label> --}}
      <select class="form-control" name="pose-type" id="pose-type">
        <option value=''>Type</option>
        <option value="Stretching">Stretching</option>
        <option value="Strengthening">Strengthening</option>
        <option value="Balancing">Balancing</option>
        <option value="Twisting">Twisting</option>
        <option value="Digestion">Digestion</option>
        <option value="Core-activating">Core Activating</option>
        <option value="Menstruation">Menstruation</option>
        <option value="Seated">Seated</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" id="search-btn">Search</button>
    </div>
  </form>
<script src="/js/search.js"></script>
</div>

