{{!-- hero section --}}
<div class="card bg-light p-4 shadow-lg">
  <div class="hero-info text-center">
    <h1 class="title">LETS KICK ASANA<br></h1>
    <p class="subtitle text-muted">Welcome to Kick Asana! Here, we provide a seamless user experience for all your yoga needs. If you haven't signed up yet, you can do so on our homepage. Once logged in, you can select the type of yoga you wish to practice. We offer a variety of yoga styles to choose from.<br>

<br>After selecting the type of yoga, you can choose the difficulty level that suits you best - beginner, intermediate or advanced. Additionally, you can select the specific body area you wish to work on - upper body, lower body, full body or core.<br>

<br>Once you have made your selections, we will provide you with images of the yoga asanas that cater to your preferences. These images will be accompanied by the name and description of the asana. Additionally, we provide detailed instructions on how to perform the asanas correctly and the benefits you can expect to experience.<br>

<br>We aim to make your yoga journey with us as smooth and enjoyable as possible. So, come and join us today for a personalized yoga experience that is tailored to your needs!<br>

<br>Lets kick Asana !</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light p-4 mt-4 mx-auto shadow-lg">
        <h2 class="text-center">Login</h2>
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-control" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-control" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-secondary " type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light p-4 mt-4 mx-auto shadow-lg">
        <h2 class="text-center">Signup</h2>
        <form class="form signup-form">
          <div class="form-group">
            <label for="name-signup">Name:</label>
            <input class="form-control" type="text" id="name-signup" />
          </div>
          <div class="form-group">
            <label for="email-signup">Email:</label>
            <input class="form-control" type="text" id="email-signup" />
          </div>
          <div class="form-group">
            <label for="password-signup">Password:</label>
            <input class="form-control" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <button class="btn btn-secondary" type="submit">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="./js/login.js"></script>