{{!-- This view will have. Welcome message, search for your fave pose and render it FORM --}}
<div>
    <div>
     <h2>Welcome back, {{name}}</h2>
    </div>

    <div>
        <h3>Search For a Pose</h3>
{{!-- Add options drop down type? Can't remember how to do that - FOR LEVEL, AREA, TYPE --}}
        <form class="" id="search-form">
            <div>
             <label for="pose-level">Pose level</label>
            </div>
            <div>
             <label for="pose-area">Pose area</label>
            </div>
             <div>
             <label for="pose-type">Pose type</label>
            </div>
        </form>
    </div>
</div>
