/* navbar styling */
/* nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav li a:hover {
  background-color: #555;
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* footer styling */
/* footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
#logout {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 25%;
}

#logout:hover {
    background-color: #111;
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

body {
  background-image: url("/images/assets/mandala-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
