/* navbar styling */
/* nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav li a:hover {
  background-color: #555;
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* footer styling */
/* footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
#logout {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 25%;
}

#logout:hover {
    background-color: #111;
} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


body {
  background-color: #b39977;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Italiana', serif;
}

.hero {
  height: 60vh;
  background-image: url('/images/assets/hero-img_1.1.1_1.1.2.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.08);
}

#text-block-1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

#seated-with-dog{
  height: 60vh;
  background-image: url('/images/assets/seated-with-dog.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#creator-text {
  margin-left: 300px;
  margin-right: 300px;
  border-style: solid;
  mask-border-width: 2px;
  border-radius: 25px;
}


footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 30px;
}

footer a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
}